<main>
  <div *ngIf="!videos.length" class="loading">
    <p>Loading...</p>
  </div>
  <div
    [ngClass]="{
      'v-player-wrapper': videos.length > 0,
      hidden: videos.length === 0,
      'cover-full': clipId
    }"
  >
    <div class="v-player-current" *ngIf="selectedVid">
      <video [autoplay]="true" controls [src]="selectedVid.clipURL">
        Your browser does not support the video tag.
      </video>
      <div class="v-player-desc">
        <div>
          <h2>{{ selectedVid.clipTitle }}</h2>
        </div>
        <div>
          <p>{{ selectedVid.siteName }}</p>
        </div>
      </div>
    </div>
    <div [ngClass]="{ 'v-player-list': !clipId, 'hide-me': clipId }">
      <div
        (click)="handleClick(video)"
        class="v-player-min"
        *ngFor="let video of videos"
      >
        <video [autoplay]="true" [muted]="true" [src]="video.clipURL"></video>
        <div class="img-desc">
          <p>{{ video.clipId }}</p>
          <p>{{ video.clipDate }}</p>
        </div>
      </div>
      <div class="loadmore">Loading More...</div>
    </div>
  </div>
</main>
