.v-player-wrapper {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.v-player-current {
  width: 100%;
}
.cover-full {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}

.hide-me {
  display: none;
}

.v-player-current video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: calc(100vh - 150px);
}

.v-player-desc {
  display: flex;
  justify-content: space-between;
}

.v-player-list {
  max-height: calc(100vh - 0px);
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-right: 10px;
  margin-bottom: 1rem;
}

.v-player-min img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  z-index: -1;
}

.img-desc {
  text-align: center;
  position: relative;
  top: -100%;
  color: #fff;
  font-family: 'Montserrat', serif;
}

.img-desc p {
  line-height: 0.7;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 150px);
  font-family: 'Montserrat', serif;
  font-weight: 100;
  font-size: 1.5rem;
}

.loadmore {
  grid-area: span 1 / span 2;
  justify-self: center;
  font-family: 'Montserrat', serif;
}

.hidden {
  visibility: hidden;
}

@media (max-width: 768px) {
  .v-player-wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .v-player-current video {
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    height: 70%;
  }

  .v-player-list {
    grid-template-columns: repeat(1, 1.1fr);
  }
}
