.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
  margin-top: 1rem;
}

.footer-title {
  text-align: center;
  color: #fff;
}

.footer-content ul {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.footer-content ul li {
  list-style: none;
  color: #0b7ba7;
  text-align: center;
}
