.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111;
  margin-top: 1rem;
}

.footer-title {
  text-align: center;
  color: #fff;
}

.footer-content p {
  color: #fff;
}
